n8n/workflow_1_data_collection.json
{
  "name": "UAE Market Intel — Data Collection",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Reddit via Apify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 160],
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/trudax~reddit-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $credentials.queryAuth.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"startUrls\": [\n    {\"url\": \"https://www.reddit.com/r/dubai/top/?t=day\"},\n    {\"url\": \"https://www.reddit.com/r/UAE/top/?t=day\"},\n    {\"url\": \"https://www.reddit.com/r/abudhabi/top/?t=day\"}\n  ],\n  \"maxItems\": 50,\n  \"sort\": \"top\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "credentials": {
        "httpQueryAuth": {
          "id": "apify-query-auth",
          "name": "Apify Token"
        }
      }
    },
    {
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Twitter/X via Apify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/quacker~twitter-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $credentials.queryAuth.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"searchTerms\": [\n    \"UAE complaints\",\n    \"Dubai problems\",\n    \"Abu Dhabi service\",\n    \"الإمارات شكاوى\",\n    \"دبي مشاكل\"\n  ],\n  \"maxTweets\": 50,\n  \"sort\": \"Latest\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "credentials": {
        "httpQueryAuth": {
          "id": "apify-query-auth",
          "name": "Apify Token"
        }
      }
    },
    {
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Tavily News (English)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 440],
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"UAE market trends consumer complaints business opportunities 2026\",\n  \"search_depth\": \"advanced\",\n  \"max_results\": 10,\n  \"topic\": \"news\",\n  \"country\": \"united arab emirates\",\n  \"time_range\": \"day\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "tavily-header-auth",
          "name": "Tavily API Key"
        }
      }
    },
    {
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Tavily News (Arabic)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 580],
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"شكاوى المستهلكين الإمارات فرص تجارية اتجاهات السوق\",\n  \"search_depth\": \"advanced\",\n  \"max_results\": 10,\n  \"topic\": \"news\",\n  \"country\": \"united arab emirates\",\n  \"time_range\": \"day\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "tavily-header-auth",
          "name": "Tavily API Key"
        }
      }
    },
    {
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Merge All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [800, 370],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 370],
      "parameters": {
        "jsCode": "// Normalize items from different sources into common format\nconst items = $input.all();\nconst normalized = [];\nconst now = new Date().toISOString();\n\nfor (const item of items) {\n  const data = item.json;\n  let row = {};\n\n  // Reddit posts\n  if (data.subreddit || data.communityName) {\n    row = {\n      source: 'Reddit',\n      subreddit: data.subreddit || data.communityName || '',\n      title: data.title || '',\n      body: (data.body || data.text || data.selftext || '').substring(0, 2000),\n      author: data.author || data.username || '',\n      score: data.score || data.upvotes || 0,\n      comments: data.numberOfComments || data.numComments || 0,\n      url: data.url || data.postUrl || '',\n      language: '',\n      collected_at: now\n    };\n  }\n  // Twitter/X posts\n  else if (data.tweetText || (data.text && (data.retweetCount !== undefined || data.likeCount !== undefined))) {\n    row = {\n      source: 'X',\n      subreddit: '',\n      title: '',\n      body: (data.tweetText || data.text || '').substring(0, 2000),\n      author: data.author?.username || data.username || '',\n      score: data.likeCount || data.likes || 0,\n      comments: data.replyCount || data.replies || 0,\n      url: data.tweetUrl || data.url || '',\n      language: '',\n      collected_at: now\n    };\n  }\n  // Tavily news results (top-level results array)\n  else if (data.results) {\n    for (const r of data.results) {\n      normalized.push({\n        json: {\n          source: 'News',\n          subreddit: '',\n          title: r.title || '',\n          body: (r.content || '').substring(0, 2000),\n          author: r.url ? new URL(r.url).hostname : '',\n          score: Math.round((r.score || 0) * 100),\n          comments: 0,\n          url: r.url || '',\n          language: '',\n          collected_at: now\n        }\n      });\n    }\n    continue;\n  }\n  // Tavily individual result item\n  else if (data.title && data.content && data.score !== undefined) {\n    row = {\n      source: 'News',\n      subreddit: '',\n      title: data.title || '',\n      body: (data.content || '').substring(0, 2000),\n      author: data.url ? new URL(data.url).hostname : '',\n      score: Math.round((data.score || 0) * 100),\n      comments: 0,\n      url: data.url || '',\n      language: '',\n      collected_at: now\n    };\n  }\n  else {\n    // Generic fallback\n    row = {\n      source: 'Unknown',\n      subreddit: '',\n      title: data.title || '',\n      body: (data.body || data.text || data.content || JSON.stringify(data)).substring(0, 2000),\n      author: data.author || '',\n      score: 0,\n      comments: 0,\n      url: data.url || '',\n      language: '',\n      collected_at: now\n    };\n  }\n\n  if (Object.keys(row).length > 0) {\n    normalized.push({ json: row });\n  }\n}\n\nreturn normalized;"
      }
    },
    {
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Append to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1320, 370],
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Raw Data"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            { "id": "source", "displayName": "source", "canBeUsedToMatch": false },
            { "id": "subreddit", "displayName": "subreddit", "canBeUsedToMatch": false },
            { "id": "title", "displayName": "title", "canBeUsedToMatch": false },
            { "id": "body", "displayName": "body", "canBeUsedToMatch": false },
            { "id": "author", "displayName": "author", "canBeUsedToMatch": false },
            { "id": "score", "displayName": "score", "canBeUsedToMatch": false },
            { "id": "comments", "displayName": "comments", "canBeUsedToMatch": false },
            { "id": "url", "displayName": "url", "canBeUsedToMatch": false },
            { "id": "language", "displayName": "language", "canBeUsedToMatch": false },
            { "id": "collected_at", "displayName": "collected_at", "canBeUsedToMatch": false }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-oauth",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          { "node": "Reddit via Apify", "type": "main", "index": 0 },
          { "node": "Twitter/X via Apify", "type": "main", "index": 0 },
          { "node": "Tavily News (English)", "type": "main", "index": 0 },
          { "node": "Tavily News (Arabic)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Reddit via Apify": {
      "main": [
        [
          { "node": "Merge All Sources", "type": "main", "index": 0 }
        ]
      ]
    },
    "Twitter/X via Apify": {
      "main": [
        [
          { "node": "Merge All Sources", "type": "main", "index": 1 }
        ]
      ]
    },
    "Tavily News (English)": {
      "main": [
        [
          { "node": "Merge All Sources", "type": "main", "index": 2 }
        ]
      ]
    },
    "Tavily News (Arabic)": {
      "main": [
        [
          { "node": "Merge All Sources", "type": "main", "index": 3 }
        ]
      ]
    },
    "Merge All Sources": {
      "main": [
        [
          { "node": "Normalize Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          { "node": "Append to Google Sheets", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "id": "wf-uae-market-intel-collection-001",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "tags": ["UAE", "Market Intel", "Data Collection"]
}
